body {
  font-family: "Montserrat", sans-serif;
  background-color: #4ea44e;
}

/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* main content */

.main-content {
  background-color: #e7d5d5;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 105px 90px;
}

/* about styles */

.about {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 5px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 500px;
}

.work-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 500px;
}

/* education styles */

.education {
  margin-top: 50px;
}

.education-item {
  margin-bottom: 30px;
}

.education-item:not(:first-child) {
  margin-top: 40px;
}

.education-item .profession:not(:first-of-type) {
  margin-top: 15px;
}

.place-study {
  margin-bottom: 10px;
}

.profession {
  margin-bottom: 10px;
}

.dates {
  margin-bottom: 5px;
}

.education .diploma-info {
  margin-top: 10px;
  font-size: 0.9em;
}

.education .diploma-label {
  font-weight: bold;
  margin-right: 5px;
}

.education .diploma-link {
  color: #007bff;
  text-decoration: none;
  padding: 2px 5px;
  border: 1px solid #007bff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.education .diploma-link:hover {
  background-color: #007bff;
  color: white;
  text-decoration: none;
}

.education-item .course {
  margin-top: 20px;
}

.education-item .course:first-of-type {
  margin-top: 10px;
}

.diploma-label {
  color: #007bff;
}

.diploma-link {
  color: #007bff;
  text-decoration: none;
}

.diploma-link:hover {
  text-decoration: underline;
}

.place-study {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.place-study a {
  color: inherit;
  text-decoration: none;
}

.place-study a:hover {
  text-decoration: underline;
}

.profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.dates {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #0539f5;
  margin-bottom: 10px;
}

/* sidebar styles */

.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 20px;
  margin-top: 55px;
}

.contact-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.contact-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  min-width: 100px;
  display: inline-block;
  color: #ffffff;
}

.contact-type i {
  width: 20px;
  margin-right: 5px;
  text-align: center;
}

.contacts p {
  display: flex;
  align-items: baseline;
}

.contact-link {
  flex: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  color: rgb(130, 194, 66);
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-link:hover {
  color: #007bff;
}

.fa-phone { color: #28a745; }
.fa-envelope { color: #dc3545; }
.fa-telegram-plane { color: #0088cc; }
.fa-github { color: #8a8888; }
.fa-linkedin { color: #0077b5; }


.tech-skills {
  margin-top: 45px;
  margin-bottom: 45px;
}

.tech-skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 20px;
}

.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.skills-container {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.skills-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0 20px;
  width: 45%;
  margin-top: 0;
}

.skills-item {
  margin-bottom: 5px;
}

.skills-text {
  font-size: 14px;
}

.skills-item:before {
  content: "\2022";
  color: #fb6d3a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 15px;
  margin-bottom: 20px;
}

.soft-skills {
  margin-top: 45px;
  margin-bottom: 45px;
}

.soft-skills-container {
  display: flex;
  justify-content: flex-end;
  margin-right: -40px;
}

.soft-skills-list {
  color: #ffffff;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.soft-skills-item {
  color: #fb6d3a;
  position: relative;
  padding-left: 15px;
  margin-bottom: 5px;
}

.soft-skills-item::before {
  content: "\2022";
  color: #fb6d3a;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.soft-skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
